<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adonmo.killerbee">

    <application>
        <service android:name=".service.AndroidMQTTService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>